
<table class="table">
  <tr class="head-row">
    <th><span class="shorting">Rule Name <span class="icon-sort"></span></span></th>
    <th>Originating Form</th>
    <th>terminating To</th>
    <th><span class="shorting">Allowance/Threshold <span class="icon-sort"></span></span></th>
    <th><span class="shorting">Priority <span class="icon-sort"></span></span></th>
    <th><span class="shorting">Application Time <span class="icon-sort"></span></span></th>
    <th><span class="shorting">Counter Type <span class="icon-sort"></span></span></th>
    <th></th>
  </tr>
<!--  edit mode-->
  <tr *ngIf="showCreateRule">
    <td>
      <input type="text" class="rule-name-input" placeholder="Enter rule name">
    </td>
    <td>
      <ng-select
        class="ng-dropdown-select ng-originating"
        [items]="people"
        [multiple]="true"
        bindLabel="name"
        groupBy="countries"
        [selectableGroup]="true"
        [virtualScroll]="true"
        [selectableGroupAsModel]="false"
        [closeOnSelect]="false"
        placeholder="Select"
        bindValue="id"
        [(ngModel)]="selectedPeople">
        <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
          <div class="custom-control custom-checkbox">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" class="custom-control-input"/>
            <label class="form-check-label ml-2 custom-control-label">{{item.countries}}</label>
          </div>
        </ng-template>
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                        <span class="ng-value-label ng-label-custom" title="{{item.name}}">
                                          <span class="text-val"> {{item.name}}</span>
                                        </span>
            <span class="ng-value-icon right"  (click)="clear(item)">×</span>
          </div>
          <div class="ng-value" *ngIf="items.length > 1">
                                        <span class="ng-value-label">+ {{items.length - 1}}</span>
          </div>
        </ng-template>
        <ng-template ng-option-tmp let-item="item"  let-search="searchTerm" let-item$="item$" let-index="index">
          <div class="custom-control custom-checkbox">
          <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" class="custom-control-input"/>
          <label class="form-check-label ml-2 custom-control-label"  [ngOptionHighlight]="search">{{item.name}}</label>
          </div>
        </ng-template>
      </ng-select>
    </td>
    <td>
        <ng-select
          class="ng-dropdown-select ng-originating"
          [items]="terminating"
          [multiple]="true"
          bindLabel="name"
          groupBy="countries"
          [selectableGroup]="true"
          [virtualScroll]="true"
          [selectableGroupAsModel]="false"
          [closeOnSelect]="false"
          placeholder="Select"
          bindValue="id"
          [(ngModel)]="selectedTerminating">
          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
            <div class="custom-control custom-checkbox">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" class="custom-control-input"/>
              <label class="form-check-label ml-2 custom-control-label">{{item.countries}}</label>
            </div>
          </ng-template>
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                        <span class="ng-value-label ng-label-custom" title="{{item.name}}">
                                          <span class="text-val"> {{item.name}}</span>
                                        </span>
              <span class="ng-value-icon right"  (click)="clear(item)">×</span>
            </div>
            <div class="ng-value" *ngIf="items.length > 1">
              <span class="ng-value-label">+ {{items.length - 1}}</span>
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item"  let-search="searchTerm" let-item$="item$" let-index="index">
            <div class="custom-control custom-checkbox">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" class="custom-control-input"/>
              <label class="form-check-label ml-2 custom-control-label"  [ngOptionHighlight]="search">{{item.name}}</label>
            </div>
          </ng-template>
        </ng-select>
    </td>
    <td>
      <span class="hyperlink" (click)="openLg(content)"> Select</span>
    </td>
    <td>
<!--      error-->
      <div class="input-group" [class.error-section]="showError">
        <input type="text" class="form-control" placeholder="Enter" [(ngModel)]="priority">
        <div class="input-group-append" [class.done]="verified">
          <span class="input-group-text" [ngClass]="priority? 'active' : 'disable'" (click)="showErrorPopover()"
                ngbTooltip="Check Availability">
            <span class="icon-tick"></span>
          </span>
        </div>
        <div class="change-priority" *ngIf="showError">
          <h3>Priority already in use by:
            <div>“VIP Roamers Dubai”</div>
          </h3>
          <p>System will assign an available priority automatically based on your preference</p>
          <ul>
            <li class="form-group form-check"><input type="radio" name="setpriority" id="higherPriority"><label for="higherPriority">Assign a higher priority</label></li>
            <li class="form-group form-check"><input type="radio" name="setpriority" id="lowerPriority"><label for="lowerPriority">Assign a lower priority</label></li>
            <li><span class="assign" (click)="(showError = false) || (verified = true)">Assign</span></li>
          </ul>
        </div>
      </div>
    </td>
    <td>
      <select name="">
        <option value="">Select</option>
      </select>
    </td>
    <td>
      <div class="applybtn" (click)="clearfields()">Apply</div>
      <div class="discard" (click)="clearfields()" >Discard</div>
    </td>
    <td>
    </td>
  </tr>
  <ng-container *ngFor="let rule of ruleList; let i=index">
    <tr>
    <td>
      <div class="rule-name">{{rule.ruleName}}</div>
      <div class="created-date">Created By {{rule.createdBy}}, {{rule.createdDate}}</div>
    </td>
    <td>
      {{rule.originatingFrom}}
    </td>
    <td>
      {{rule.terminateTo}}
    </td>
    <td>
      <ng-template #tipContent let-greeting="greeting">
        <div class="custom-tooltip-data">
          <div><span>Name:</span> <strong>A2-1233</strong> </div>
          <div><span>Periodicity:</span> <strong>Weekly</strong> </div>
          <div><span>Oroginating Calls:</span> <strong>200</strong> </div>
          <div><span>Terminating minutes:</span> <strong>500</strong> </div>
        </div>
      </ng-template>

      <span class="hyperlink">
        <span [ngbTooltip]="tipContent">{{rule.allowanceThreshold}}</span>/
        <span [ngbTooltip]="tipContentThreshhold" tooltipClass="threshhold-content">{{rule.allowanceThreshold}}</span>
      </span>
      <ng-template #tipContentThreshhold let-greeting="greeting">
        <div class="">
          <div class="head-line"><span>Name:</span> <strong>A2-1233</strong> </div>
          <div class="coloumns">
            <div><span>Originating Calls</span> <strong>Levels: 4</strong> </div>
            <div><span>Terminating Calls</span> <strong>Levels: 2</strong> </div>
            <div><span>Originating Minutes</span> <strong>Levels: 1</strong> </div>
            <div><span>Terminating Minutes</span> <strong>Levels: 5</strong> </div>
          </div>
        </div>
      </ng-template>
    </td>
    <td><span class="hyperlink">{{rule.priority}}</span></td>
    <td><span class="hyperlink">{{rule.tod}}</span></td>
    <td><span class="hyperlink">{{rule.counters}}</span></td>
    <td class="relative">
      <span class="icon-action_dots"  (click)="showPopover(i)"></span>
      <div class="custom-popover" *ngIf="i == selectedRow && showeditOptions">
        <div><span class="hyperlink" (click)="edit()" >Edit</span></div>
        <div><span class="hyperlink" (click)="deleterow(i)" >Delete</span></div>
        <div class="toggle-switch">
          <div>Inactive</div>
          <div class="switch_button custom">
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
          <div></div>Active
        </div>
      </div>
    </td>
  </tr>
  </ng-container>
  <tr *ngIf="ruleList.length == 0">
    <td colspan="9">
      <div class="no-data-found">
        <h5>No Rules Added yet</h5>
        <p><span class="hyperlink blue" (click)="this.showCreateRule = true">Add</span> your first rules now</p>
      </div>
    </td>
  </tr>
</table>

<!--Modal-->
<ng-template #content let-modal>
  <div class="allowance-threshold">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span class="icon-Combined-Shape-Copy-8"></span>
    </button>
    <app-allowance-threshold-modal (closeModal)="closeModal($event)"></app-allowance-threshold-modal>
  </div>
</ng-template>

