@import "~@ng-select/ng-select/themes/default.theme.css";
body {
  font-family: "Open Sans", sans-serif !important;
}
.hyperlink{
  color: orange;
  cursor: pointer;
}
.btn.btn-primary{
  border-radius: 2px;
  background-color: #FBA82B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
  padding: 8px 44px;
  opacity: 0.9;
  border: 0px;
  &:hover{
    opacity: 1;
    background-color: #FBA82B;
    color: #FFFFFF;
    border: 0px;
  }
}
.click-to-action{
  background: orange;
  color: #fff;
  padding: 7px 20px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
}
.action-items{
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f3a433;
  .icon-filter{
    font-size: 22px;
    cursor: pointer;
  }
}

.body-container{
  background: #fff;
  margin: 10px;
  padding: 14px;
  border: 10px solid #E2E1C1;
  h2{
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}
.tab-view{
  ul{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #E2E1C1;
  }
  li{
    display: inline-block;
    margin-right: 80px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 19px;
    cursor: pointer;
    padding: 0 6px;
    &:hover,
    &.active{
      color: #F3A833;
      border-bottom: 3px solid;
      padding-bottom: 5px;
    }
  }
}
.filters-row{
  display: flex;
  justify-content: space-between;
}
.search {
  padding: 20px 0px;
  input{
    width: 200px;
    height: 26px;
    font-size: 14px;
    padding-left: 8px;
    padding-right: 28px;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
    background-color: #FFFFFF;
    color: #A5A5A5;
  }
}
.scroll-section{
  max-height: 140px;
  overflow: auto;
}
.no-data-found{
  font-size: 12px;
  padding: 10px;
  text-align: center;
}
.search-items{
  max-height: 340px;
  padding: 0px 10px;
  border: 1px solid #E2E1C1;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 13px 0 rgba(0,0,0,0.09);
  position: absolute;
  width: auto;
.search-list{
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow: auto;
    margin-top: 14px;
  &:last-child{
    margin-bottom: 14px;
  }
    .search-heading{
      color: #333333;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 14px;
      border-bottom: 1px solid #E2E1C1;
      display: block;
      padding-left: 7px;
    }
  .search-list-item{
      display: block;
      color: #A6A6A6;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 17px;
      line-height: 26px;
    padding-left: 7px;

      &:hover {
        background-color: #E2E1C1;
      }
    }
  }
}
.clear-search {
  color: #737373;
  background: #e0e0e0;
  font-size: 13px;
  display: inline-block;
  width: 15px;
  height: 16px;
  text-align: center;
  line-height: 14px;
  border-radius: 50%;
  margin-left: -23px;
  cursor: pointer;
  position: relative;
  top: -1px;
}
.custom-class{
  .modal-lg{
    max-width: 1000px;
    .modal-content {
      padding: 15px 20px;
    }
  }
}
.tooltip{
  .tooltip-inner{
    background: #fff;
    color: #000;
    min-width: 200px;
  }
  &.bs-tooltip-top .arrow:before{
    border-top-color: #fff;
  }
  &.bs-tooltip-bottom .arrow:before{
    border-bottom-color: #fff;
  }
  &.bs-tooltip-left .arrow:before{
    border-left-color: #fff;
  }
  &.bs-tooltip-right .arrow:before{
    border-right-color: #fff;
  }

}



.switch_button {
  transition: all .3s ease-in-out;
  padding-left: 24px;
  display: flex;
  align-items: center;

  .switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
    margin: 0px 3px;

    input {
      display: none;
      background-color: #ccc;

      &:checked + .slider {
        background: #ffa73e;
        &:before {
          transform: translate(12px, -50%);
        }
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 0.4s ease;
      background-color: #D8D8D8;

      &:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 2px;
        right: 0;
        bottom: 1px;
        background-color: #ffffff;
        transition: all 0.4s ease;
        top: 50%;
        transform: translateY(-50%);
      }

      &.round {
        border-radius: 20px;

        &:before {
          border-radius: 50%;
        }
      }
    }
  }

  > span {
    color: #A5A5A5;
    font-size: 14px;
    line-height: 14px;

    &.active {
      color: #333333;
    }
  }
}

.header-dropdown{
  display: inline-block;
  float: right;
  font-size: 14px;
  border: 1px solid #E6E6E6;
  padding-right: 7px;
  span{
    display: inline-block;
    padding: 3px 10px;
    border-radius: 2px;
    background-color: #E6E6E6;
    color: #A5A5A5;
    font-weight: normal;
    font-size: 12px;
  }
  select{
    color: #333333;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;
    background: transparent;
    border: 0px;
  }
}



   .hyperlink,
   .allowance-template{
     .tooltip {
       background: #fff;
       &.show{
         opacity: 1;
         box-shadow: 0 2px 4px 0 rgba(143,143,143,0.5);
       }
       &.threshhold-content{
         min-width: 340px;
         max-width: 340px;
         text-align: left;
         padding: 11px;
         .head-line{
           color: #A5A5A5;
           font-size: 12px;
           letter-spacing: 0;
           line-height: 17px;
           strong {
             color: #333333;
           }
         }
         .tooltip-inner {
           min-width: 100%;
           text-align: left;
         }
         .coloumns{
           > div{
             width: 50%;
             display: inline-block;
             color: #A5A5A5;
             font-size: 12px;
             letter-spacing: 0;
             line-height: 17px;
             text-align: left;
             margin-top: 15px;
             font-weight: lighter;
             strong{
               color: #333333;
               font-size: 12px;
               font-weight: bold;
               letter-spacing: 0;
               line-height: 17px;
               display: block;
             }
           }
         }
       }
       .tooltip-inner {
         .custom-tooltip-data {
           min-width: 230px;
           max-width: 230px;
           font-weight: lighter;
           text-align: right;

           strong {
             width: 100px;
             text-align: left;
             display: inline-block;
             color: #3A3A3A;
             font-size: 12px;
             font-weight: bold;
             letter-spacing: 0;
             line-height: 19px;
             margin-left: 6px;
           }

           span {
             color: #A5A5A5;
             font-size: 12px;
             letter-spacing: 0;
             line-height: 17px;
           }
         }
       }
     }
   }


.disabled {
  cursor: not-allowed;
  opacity: .4;
}

.disable {
  pointer-events: none;
}

.for_checkbox {
  margin: 0;

  .custom_checkbox {
    position: relative;
    padding-left: 18px;
    color: #333333;
    font-size: 12px;
    line-height: 17px;
    cursor: pointer;

    &:before {
      width: 12px;
      height: 12px;
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid #E6E6E6;
      border-radius: 2px;
      background-color: #FFFFFF;
    }
  }

  .checkbox {
    display: none;

    &:checked + .custom_checkbox {
      &:before {
        border-color: #3986FA;
        background-color: #3986FA;
      }

      &:after {
        content: "\e91c";
        font-family: "icomoon" !important;
        font-size: 7px;
        position: absolute;
        left: 1.5px;
        color: #fff;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Modal Scss
.modal-content {
  padding: 17px 20px;

  .title_modal {
    position: relative;

    h2 {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 24px;
      padding-bottom: 19px;
      border-bottom: 1px solid #E2E1C1;
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 1;
      color: #C3AB7F;
      outline: none;
      &:hover {
        opacity: 1;
      }
    }
  }

  .modal_body {
    padding: 27px 10.5px 11.8px 10.5px;

    .save_action_btn {
      height: 30px;
      width: 118px;
      border-radius: 2px;
      border: 0;
      outline: none;
      -webkit-appearance: none;
    }
  }
}

.applybtn{
  color: #3986FA;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 17px;
  cursor: pointer;
}


/**** ng-select override scss ****/

.ng-select {
  &.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
    box-shadow: none;
  }
  .ng-dropdown-panel{
    border: 1px solid #E2E1C1;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 13px 0 rgba(0,0,0,0.09);
    padding-right: 5px;
    &.ng-select-bottom{
      margin-top: 5px;
    }
    &.ng-select-top{
      margin-bottom: 5px;
    }
    .scroll-host{
      max-height: 208px;
      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: #fff;
        -webkit-border-radius: 10px;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #D8D8D8;
      }
    }
  }
  &.ng-dropdown-select {
    .ng-select-container {
      font-size: 12px;
      min-height: 26px;
      border: 1px solid #E6E6E6;
      border-radius: 2px;
      background-color: #FFFFFF;
      max-height: 26px;
    }
  }
  &.ng-select-opened {
    .ng-select-container {
      border: 1px solid #3986FA;
      outline: 0;
    }
  }
  .custom-control-label{
    padding-top: 2px;
  }
  .custom-control-label::after {
    border-radius: 0;
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    background: no-repeat 50% / 50% 50%;
  }
  .custom-control-label::before {
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 12px;
    height: 12px;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: 1px solid #E6E6E6;
  }
  .custom-checkbox .custom-control-label::before {
    border-radius: 2px;
  }
  .ng-dropdown-panel {
    .ng-dropdown-panel-items {
      .ng-optgroup{
        padding: 3px 8px 3px 0;
        &.ng-option-selected {
          background: #fff;
        }
        &.ng-option-marked {
          background-color: #E2E1C1;
        }
      }
      .ng-option {
        &.ng-option-child {
          padding: 3px 8px 3px 0;
        }
        &.ng-option-selected {
          background: #fff;
        }
        &.ng-option-marked {
          background-color: #E2E1C1;
        }
      }
    }
  }
  &.ng-select-multiple {
    .ng-select-container {
      .ng-value-container {
        .ng-placeholder{
          top: 4px;
        }
        .ng-value {
          background-color: #E6E6E6;
          .ng-value-icon {
            &.right {
              border-left: 1px solid #d5d1d1;
            }
            &:hover{
              background: #d5d1d1;
            }
          }
        }
      }
    }
  }
    &.ng-select-multiple {
      .ng-select-container {
        .ng-value-container {
          .ng-value {
            .ng-value-label {
              &.ng-label-custom{
                display: inline-flex;
                .text-val{
                  width: 70px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value:first-child {
    display: inline-block;
    padding: 1px 5px;
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.scrollbar {
  &::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #D8D8D8;
  }
}

