<ng-template #content let-modal>
  <div class="title_modal header_modal">
    <h2>Applicable Time (ToD/WoD)</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span class="icon-Combined-Shape-Copy-8"></span>
    </button>
  </div>
  <div class="modal_body">
    <div class="time_window">
      <h2>Applicable Time Window</h2>
      <div class="switch_button">
        <span [class.active]="!isApplicableTimeWindow">No</span>
        <label class="switch">
          <input type="checkbox" (click)="onSwitch()" [checked]="isApplicableTimeWindow">
          <span class="slider round"></span>
        </label>
        <span [class.active]="isApplicableTimeWindow">Yes</span>
      </div>

    </div>
    <div [class.disabled]="!isApplicableTimeWindow">
      <div class="select_box" [class.disable]="!isApplicableTimeWindow">
        <div class="title">
          Validity
        </div>
        <div class="select_dropdown" (click)="showHoursDropdown()">
          <ng-container *ngIf="selectedDaysFilter.length == 0">Select Hour</ng-container>
          <ng-container *ngFor="let filter of selectedDaysFilter; let i = index">
            <div class="chip" *ngIf="filter !== ''" [attr.id]="i">
              {{filter}}
              <span class="icon-cross_tags" (click)="removeFilter(i)" *ngIf="i < 2"></span>
            </div>
          </ng-container>
        </div>
        <div class="dropdown_list_wrap scrollbar" *ngIf="isHoursDropdown">
          <perfect-scrollbar class="scrollbar dropdown_scrollbar">
            <ul class="dropdown_list">
              <li *ngFor="let hr of hours; let i = index" [attr.id]="i" (click)="chips()">
                <span class="time_slot">{{hr.duration}}</span>
                <label class="for_checkbox">
                  <input type="checkbox" class="for_am checkbox" [checked]="hr.amChecked" (click)="onHourSelection(hr, 'am')">
                  <div class="custom_checkbox">{{hr.am}}</div>
                </label>
                <label class="for_checkbox">
                  <input type="checkbox" class="for_am checkbox" [checked]="hr.pmChecked" (click)="onHourSelection(hr, 'pm')">
                  <div class="custom_checkbox">{{hr.pm}}</div>
                </label>
              </li>
            </ul>
          </perfect-scrollbar>
        </div>
      </div>
      <div class="select_box" [class.disable]="!isApplicableTimeWindow">
        <div class="title">
          Days of the Week
        </div>
        <ng-select
          class="ng-dropdown-select ng-originating select_dropdown"
          [items]="days"
          [multiple]="true"
          bindLabel="day"
          [selectableGroup]="true"
          [virtualScroll]="true"
          [selectableGroupAsModel]="false"
          [closeOnSelect]="false"
          placeholder="Select Day"
          bindValue="id"
          [(ngModel)]="selectedDays">
          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
            <div class="custom-control custom-checkbox">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" class="custom-control-input"/>
              <label class="form-check-label ml-2 custom-control-label">{{item.days}}</label>
            </div>
          </ng-template>
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                        <span class="ng-value-label ng-label-custom" title="{{item.day}}">
                                          <span class="text-val"> {{item.day}}</span>
                                        </span>
              <span class="ng-value-icon right"  (click)="clear(item)">×</span>
            </div>
            <div class="ng-value" *ngIf="items.length > 1">
              <span class="ng-value-label">+ {{items.length - 1}}</span>
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item"  let-search="searchTerm" let-item$="item$" let-index="index">
            <div class="custom-control custom-checkbox">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" class="custom-control-input"/>
              <label class="form-check-label ml-2 custom-control-label"  [ngOptionHighlight]="search">{{item.day}}</label>
            </div>
          </ng-template>
        </ng-select>
      </div>
    </div>
    <button class="click-to-action save_action_btn" (click)="onSave()">Save</button>

  </div>
</ng-template>
<div class="applybtn" (click)="open(content)">
    <ng-container *ngIf="isApplicableTimeWindow === false; else selected">
    Select
  </ng-container>
  <ng-template #selected>
    Yes
  </ng-template>
</div>
